body {
  background-image: url(https://images.pexels.com/photos/3826016/pexels-photo-3826016.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
}

li, a, button {
  font-family: "sigmar one", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}

.fa-pizza-slice {
  margin-right: auto;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.navLinks {
  list-style: none;
}

.navLinks li {
  display: inline-block;
  padding: 0px 20px;
}

.navLinks li a {
  transition: all 0.3s ease 0s;
}

.navLinks li a:hover {
  color: rgb(245, 1, 1);
}

button {
  margin-left: 20px;
  padding: 0px 25px;
  background-color: rgb(130, 19, 19);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgb(245, 1, 1);
}

.description {
  display: flex;
  background-color: rgba(49, 48, 48, 0.5);
  color: rgb(255, 255, 255);
  font-family: "sigmar one", sans-serif;
  font-size: 1.5em;
  margin-top: 10em;
  padding: 0.8em;
}
